extend layout
block content
	.container(data-module="setup" class="center full-height five-sixths")
		h3 #{description}

		form(id="setup-form" action="/setup" class="center text-centered two-row one-fourth")
			div(data-model="user")
				input(name="id" type="text" placeholder="Your Email or Phone Number" class="required-field")
				input(name="first_name" type="text" placeholder="Your First Name" class="required-field")
				input(name="last_name" type="text" placeholder="Your Last Name")
				input(name="password" type="password" class="required-field")
				input(name="password_confirm" type="password" class="required-field")
			div(data-model="config")
				input(name="app_name" type="text" placeholder="Your App's Name" class="required-field")
				input(name="app_email_service" type="text" class="hidden")
				input(name="app_email" type="text" placeholder="Your App's Email Address" class="required-field")
				input(name="app_email_password" type="text" placeholder="Your App's Email Password" class="required-field")
				label(for="app_auth_type") How will you authenticate your users?
				input(name="app_auth_type" type="radio" value="email")
				p By Email Only
				input(name="app_auth_type" type="radio" value="phone") 
				p By Phone Only
				input(name="app_auth_type" type="radio" value="two-factor") 
				p By Two-Factor Auth (Email and Phone)
			button Signup!