extend layout
block content
	.container(data-module="setup" class="center full-height five-sixths")
		h3 #{description}

		form(id="signup-form" action="/setup" class="center text-centered two-row one-fourth")
			input(name="submitted" type="text" placeholder="Your Email")
			input(name="password" type="password")
			input(name="password_confirm" type="password")
			button Signup!